node_modules/
.env
certs/
*.log
.DS_Store
Thumbs.db
*.apk
*.aab
*.zip
*.tmp
app-mobile/android/.gradle/
app-mobile/android/build/
app-mobile/android/local.properties
app-mobile/android/app/build/
app-mobile/android/gradle.properties
app-mobile/android/*.jks
app-mobile/android/*.keystore
server/certs/
app-mobile/test-results/
app-mobile/playwright-report/
.vscode/
